*{
  margin: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
}

header{
  font-family: 'Raleway', sans-serif;
  padding: 35px 0;
  height: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgb(33,37,41,0.6);
  z-index: 9999;
}

section{
  position: relative;
  height: 100%;
  margin: auto;
  min-height: 800px;
}

ul li{
  list-style:none
}

article a {
  color: black !important;
}


/* Barre de navigation */

.nav-item a{
  padding: 5px;
  border: 2px solid white;
  margin-right: 15px;
  margin-left: 15px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.nav-item a{
  font-family: 'Raleway', sans-serif;
  color: #fff;
  padding: 10px 12px;
}

.nav-item a:hover{
  color: #fff;
  text-decoration: none;
  background-color: #895E93;
  cursor: pointer;
}

.hamburger{
  cursor: pointer;
  display: none;
  margin-left: 30px;
  margin-top: -19px;
}

.mobile-menu{
  display: none;
}

.classic-menu{
  margin-top: -17px;
}

.mobile-menu .nav a{
  background-color: rgb(33,37,41,0.6);
  text-align: center;
  border: #fff solid 2px;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
}

.mobile-menu .nav a:hover{
  background-color: #895E93;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #FFF;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* Background section */

#parcours-page ul{
  margin-left: -40px;
}

#home-page{
  background-color: rgb(33,37,41);
}

#pres-page{
  background-color: rgb(132, 132, 132);
}

#compt-page{
  background-color: #0000001a;
}

#parcours-page{
  background-color: #fff;
}

#projets-page {
  background-color: #e7f4ff;
}

#passions-page {
  background-color: #f5f5f5;
}

/* Section Home */

#title-home{
  text-align: center;
  color: white;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  margin: auto;
  margin-top: 38vh;
}

#home-page h1{
  text-align: center;
  color: white;
  font-size: 78px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  border: 4px solid white;
  margin: auto;
  padding-bottom: 2px;
}

#home-page h2{
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  margin: auto;
}

.normal-section h1 {
  text-align: center;
  color: rgb(51,51,51);
  font-size: 35px;
  font-family: 'Acme', sans-serif;
  text-shadow: 2px 2px 4px rgba(21, 28, 81, 0.4);
}

.separator{
  width: 150px;
  color: #363942;
  border-top: 2px solid #ea9312;
  margin: auto;
  margin-top: 12px;
}

.icons-title{
  text-align: center;
  padding-top: 70px;
}
.icons-title i{
  font-size: 60px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-60 {
  margin-top: 60px;
}

.block-flex {
  display: flex;
  align-items: center;
}

#img-pres {
  border-radius: 5px;
  width: 340px;
  height: 400px;
}

.pres-text {
  font-family: Poppins, sans-serif;
  text-align: justify;
  margin-top: 20px;
}

.center-img {
  text-align: center;
}

.pie-wrapper {
  display: inline-block;
  height: 1em;
  width: 1em;
  position: relative;
  font-size: 120px;
}

.pie-wrapper .label {
  background: #34495e;
  border-radius: 50%;
  bottom: 0.4em;
  color: #ecf0f1;
  cursor: default;
  display: block;
  font-size: 0.25em;
  left: 0.4em;
  line-height: 2.8em;
  position: absolute;
  right: 0.4em;
  text-align: center;
  top: 0.4em;
}

.pie-wrapper .label .smaller {
  color: #bdc3c7;
  font-size: .45em;
  padding-bottom: 20px;
  vertical-align: super;
}

.pie-wrapper .pie {
  height: 100%;
  width: 100%;
  clip: rect(auto, auto, auto, auto);
  left: 0;
  position: absolute;
  top: 0;
}

.pie .half-circle {
  height: 100%;
  width: 100%;
  border: 0.1em solid #3498db;
  border-radius: 50%;
  clip: rect(0, 0.5em, 1em, 0);
  left: 0;
  position: absolute;
  top: 0;
}

.progress-85 .pie .right-side {
  -webkit-transform: rotate(-125deg);
  transform: rotate(-125deg);
}

.progress-80 .pie .right-side {
  -webkit-transform: rotate(-110deg);
  transform: rotate(-110deg);
}

.progress-70 .pie .right-side {
  -webkit-transform: rotate(-70deg);
  transform: rotate(-70deg);
}

.progress-60 .pie .right-side {
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
}

.title-compt {
  font-size: 20px;
  margin-top: 122px;
  text-align: center;
}

.list-icons {
  text-align: center;
  margin-top: 30px;
}

.list-icons .fab {
  font-size: 70px;
  margin-right: 20px;
  margin-left: 20px;
  transition: transform .5s;
}

.list-icons .fab:hover{
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5); 
  cursor: pointer;
}

.list-icons div {
  display: inline-block;
}

.fa-android {
  color: #179321;
}

.fa-apple {
  color: grey;
}

.fa-windows {
  color: rgb(106, 164, 226);
}

@media screen and (min-width: 515px) and (max-width: 770px) {
  #home-page h1{
    font-size: 65px;
    border: 3px solid white;
  }
  #home-page h2{
    font-size: 29px;
  }
  #img-pres {
    width: 230px;
    height: 240px;
  }
  .pres-text {
    font-size: 16px;
  }
  .div-hover{
    height: 85px !important;
    width: 180px !important;
  }
}

@media screen and (min-width: 400px) and (max-width: 465px) {
  #passions-page {
    min-height: 1025px !important;
  }
}


@media screen and (min-width: 400px) and (max-width: 575px) {
  #passions-page {
    min-height: 950px;
  }
}

@media screen and (min-width: 400px) and (max-width: 515px) {
  #home-page h1{
    font-size: 54px;
    border: 2px solid white;
  }
  #home-page h2{
    font-size: 23px;
  }
  #img-pres {
    width: 200px;
    height: 220px;
  }
  .pres-text {
    font-size: 15px;
  }
  .div-hover{
    height: 85px !important;
    width: 180px !important;
    margin-left: -20px !important;
  }
  .parcours-subject {
    font-size: 15px !important;
  }
  .hover-img {
    width: 80% !important;
    height: 80% !important;
  }
}

@media screen and (max-width: 400px) {
  #home-page h1{
    font-size: 49px;
    border: 2px solid white;
  }
  #home-page h2{
    font-size: 20px;
  }
  #img-pres {
    width: 190px;
    height: 210px;
  }
  .pres-text {
    font-size: 13px;
  }
  .tag {
    margin: 2px 0 0 !important;
  }
  .parcours-subject {
    font-size: 15px !important;
  }
  .div-hover{
    height: 85px !important;
    width: 180px !important;
    margin-left: -20px !important;
  }
  .hover-img {
    width: 80% !important;
    height: 80% !important;
  }
  #passions-page {
    min-height: 1125px;
  }
}

@media screen and (max-width: 450px) {
  #pres-page {
    min-height: 845px;
  }
}

@media screen and (max-width: 770px) {
  .hamburger{
    display: block;
  }
  .classic-menu{
    display: none;
  }
  .nav-item{
    text-align: center;
  }
  .pie-wrapper{
    font-size: 90px;
    margin-left: -4px;
  }
  .title-compt {
    font-size: 17px;
    margin-top: 90px;
  }
  .list-icons .fab {
    font-size: 45px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: -20px;
    transition: transform .5s;
  }
  #compt-page .margin-top-80 {
    margin-top: 10px;
  }
  .div-hover{
    height: 150px !important;
    width: 200px !important;
    margin-bottom: 30px !important;
  }
  .div-hover img:hover {
    opacity: 1 !important;
  }
  .text-to-show {
    font-size: 13px !important;
    opacity: 1 !important;
    margin-top: 0px !important;
  }
  .hob-header{
    margin-top: 10px !important;
  }
  .hob-text {
    font-size: 13px !important;
  }
  .wrapper ul li {
    width: 55px !important;
    height: 55px !important;
    font-size: 12px;
    line-height: 55px !important;
  }
}

@media screen and (min-width: 770px) and (max-width: 990px) {
  .pie-wrapper{
    font-size: 80px;
    margin-left: -4px;
  }
  .title-compt {
    font-size: 16px;
    margin-top: 78px;
  }
  .list-icons .fab {
    font-size: 62px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: -2px;
    transition: transform .5s;
  }
  #img-pres {
    width: 250px;
    height: 260px;
  }
  .pres-text {
    font-size: 17px;
  }
  .div-hover{
    height: 170px !important;
    width: 210px !important;
  }
  .text-to-show{
    margin-top: -110px !important;
  }
  .hob-header{
    margin-top: 40px !important;
  }
}

@media screen and (max-width: 990px) {
  .block-flex {
    display: block;
  }
  .parcours-img {
    display: none;
  }
}


.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.parcours-img {
  text-align: center;
  margin-top: 100px;
}

.parcours-img img {
  height: 300px;
}

.parcours-year {
  letter-spacing: 1px;
  font-family: "Roboto Condensed",Sans-Serif;
  font-weight: 700;
  color: #000;
  text-align: center;
}

.parcours-subject {
  letter-spacing: 1px;
  font-family: "Roboto Condensed",Sans-Serif;
  font-weight: 700;
  color: #000;
  text-align: center;
}

.parcours-school {
  letter-spacing: 1px;
  font-family: "Spicy",Sans-Serif;
  color: #000;
  text-align: center;
}

.tag {
  text-align: center;
  padding: 0 11px;
  border-radius: 22px;
  line-height: 22px;
  margin: 2px 145px 0;
  color: #6284c5;
  font-size: 12px;
  background-color: #e7edf6;
  margin-top: -5px;
}

.list-parcours {
  -moz-box-shadow: 10px 10px 5px 0px #656565;
  -webkit-box-shadow: 10px 10px 5px 0px #656565;
  -o-box-shadow: 10px 10px 5px 0px #656565;
  box-shadow: 10px 10px 5px 0px #656565;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
  margin-top: -20px;
  background-color: aliceblue;
  border-radius: 5px;
}

.list-parcours li:first-child .parcours-subject {
  padding-top: 20px;
}

hr.separator-list {
  border-top: 1px solid #8c8b8b;
  text-align: center;
  margin-top: -4px;
  margin-left: 20px;
  margin-right: 20px;
}
hr.separator-list:after {
  content: 'ยง';
  display: inline-block;
  position: relative;
  top: -14px;
  padding: 0 10px;
  background: #f0f0f0;
  color: #8c8b8b;
  font-size: 18px;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}

.div-center {
  text-align: center;
}

.hover-img {
  height: 100%;
  width: 100%;
}

.div-hover{
  height: 230px;
  width: 240px;
  margin: auto;
}

.div-hover img:hover{
  opacity: 0.1;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.div-hover:hover .text-to-show{
  opacity: 1;
}

.text-to-show{
  opacity: 0;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  margin-top: -133px;
}

article a:hover {
  color: black;
  text-decoration: none;
}

.wrapper {
  margin-top: 20px;
}

.wrapper ul {
  list-style: none;
  margin-left: -40px;
}

.wrapper ul li {
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #D8E2DC;
  transition: all 0.5s ease;
  margin: auto;
}

.wrapper .fab {
  color: #fff;
  transition: all 0.5s ease;
}

.wrapper ul li:hover.facebook {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook-f {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover.twitter {
  border: 5px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li:hover.google {
  border: 5px solid #dd4b39;
  box-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-google {
  color: #dd4b39;
  text-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

.wrapper ul li:hover.whatsapp {
  border: 5px solid #4dc247;
  box-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-whatsapp {
  color: #4dc247;
  text-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

.hob-header{
  text-align: center;
  font-size: 19px;
  margin-top: 80px;
}

.hob-title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 10px;
}

.hob-text {
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: justify;
  color: #4d4d4d;
}

footer {
  border-top: solid 2px #ea9312;
  background-color: #333;
  min-height: 140px;
}

#copyright {
  color: #fff;
  text-align: center;
  font-family: "Roboto Condensed",Sans-Serif;
}
